---
import Header from "../components/Header.astro";
const { image } = Astro.props;
import { Font } from "astro:assets";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en" class="h-full w-full">
    <head>
        <Font cssVariable="--font-alte-haas-grotesk" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/icon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Emery</title>
    </head>

    <body class="h-full w-full m-0 font-alte-haas">
        <div class="background-pattern"></div>
        <Header image={image} />
        <div
            class="grid grid-cols-[7fr_3fr] gap-4 max-w-[98vw] w-[1205px] mx-auto"
        >
            <main>
                <slot />
            </main>
            <aside>
                <slot name="sidebar" />
            </aside>
        </div>
        <style>
            .background-pattern {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -10;
                background-image: url("../assets/bg.svg");
                filter: blur(1px);
                background-size: 300px;
                background-repeat: repeat;
            }
        </style>
    </body>
</html>
