---
import "../styles/global.css";
import HeaderLink from "../components/HeaderLink.astro";
const { image } = Astro.props;
---

<header class="max-w-[98vw] w-[1205px] mx-auto">
    {
        image && (
            <a href={Astro.url.pathname}>
                <img
                    src={image}
                    alt="Page image"
                    class="mt-5 w-full max-h-[215px] object-cover block mx-auto rounded-lg"
                />
            </a>
        )
    }
    <nav
        class="flex justify-between text-black font-alte-haas mt-4 px-2 py-2 border rounded-sm border-black"
    >
        <HeaderLink href="/" class="border-1 px-2 rounded-sm">home</HeaderLink>
        <HeaderLink href="/blog" class="border-1 px-2 rounded-sm"
            >blog</HeaderLink
        >
        <HeaderLink href="/projects" class="border-1 px-2 rounded-sm"
            >projects</HeaderLink
        >
        <HeaderLink href="/art" class="border-1 px-2 rounded-sm">art</HeaderLink
        >
        <HeaderLink href="/now" class="border-1 px-2 rounded-sm">now</HeaderLink
        >
        <HeaderLink href="/guestbook" class="border-1 px-2 rounded-sm"
            >guest boook</HeaderLink
        >
        <HeaderLink href="/about" class="border-1 px-2 rounded-sm"
            >about me</HeaderLink
        >
    </nav>
</header>
