---
import Layout from "../layouts/Layout.astro";
import Changelog from "../components/Changelog.astro";
import headerImg from "../assets/header.jpg";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout image={headerImg.src}>
    <div>
        <h1>wip. brb</h1>
    </div>
</Layout>
